@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body{
    font-family: "Roboto", helvetica, arial, sans-serif;
}

table{
    margin: 30px 0px 40px 0px;;
    box-shadow: 2px 3px 12px rgb(36, 36, 36);
    border-collapse: collapse;
}

th{
    background-color: #1b1e24;
    color: #d3d3d3;
    border-bottom: 3px solid #9ea7af;
    border-right: 1px solid #343a45;
    text-align: center;
    font-weight: 100;
    vertical-align: center;
/*    padding: 15px 20px; */
}

th:first-child {
    border-top-left-radius:3px;
}
   
th:last-child {
    border-top-right-radius:3px;
    border-right:none;
}

tr{
    background-color: #e0e0e0;
    border-bottom: solid 1px #343a45;
}

tr:first-child {
    border-top:none;
}
  
tr:last-child {
    border-bottom:none;
}

td{
    border-right: solid 1px #343a45;
    vertical-align: center;
    color: #5b5f61;
    font-size: 15px;
/*    padding: 10px  20px; */
}

td:last-child{
    border-right: 0px;
}

.coluna_ID{
    padding: 15px 20px;
    text-align: center;
}

.coluna_perg{
    padding: 15px 20px;
}

.coluna_resp{
    padding: 10px 20px;
    text-align: center;
}

.coluna_prazo{
    width: 97px;
}

.coluna_entrega{
    width: 97px; 
}

.coluna_check{
    width: 120px;
}

input{
    display: block;
    background: none;
    border: none;
    outline: none;
    padding: 0 10px; 
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-size: 14px;
    color: #5b5f61;
    margin: 0;
    width: 100%;
    line-height: 20px;
    height: 40px;
}

#salvar{
    background-color: #1b1e24;
    border-radius: 4px;
    border: none;
    outline: none;
    color: #9ea7af;
    font-family: "Roboto", helvetica, arial, sans-serif;
    margin: 40px 20px;
    padding: 10px 15px;
    cursor: pointer;
    transition: .3s;
}

#salvar:hover{
    background-color: #2e333b;
    transition: .3s;
}

.tabela_porcentagem th, .tabela_porcentagem td{
    padding: 15px 20px;
}

#porcentagemAd{
    text-align: center;
}

